body{
    background-color: cadetblue;
}
ul{
    list-style: none;
    margin: 0px;
    padding-left: 0px;
    margin-top: 25px;
    background-color: darkcyan;
    height: 50px;
}
li{
    float: left;
    position: relative;
}
li > ul{
    top: 25px;
    display: none;
    position: absolute;
}
li:hover > ul{
    display: block;
    width: 200px;
}
li:hover > ul > li{
    float: none;
    background-color: darkcyan;
    border-bottom: 2px solid whitesmoke;
    border-left: 1px solid whitesmoke;
}
a{
    text-decoration: none;
    background-color: darkcyan;
    font-family: "Times New Roman";
    color: azure;
    line-height: 50px;
    padding: 0px 15px;
    border-right: 2px solid whitesmoke;
    display: block;
}
a:hover{
    background-color: darkgreen;
    border-radius: 30px;
}
.sing_in{
    float: right;
    margin-right: 50px;
}
.sing_in_a{
    border: 2px solid whitesmoke;
    border-top: none;
    border-bottom: none;
}
/*ГЛАВНЫЙ ЗАГОЛОВОК*/
.main_head{
    color:azure;
    text-align: center;
    font-family: "Comic Sans MS";
}
.secondary_header{
    border-radius: 30px;
    background-color: darkcyan;
    margin: 25px 250px;
    padding: 5px;
    text-align: center;
    font-family: "Comic Sans MS";
    color: whitesmoke;
    border: 1px solid whitesmoke;
}
/*КНОПКА ПОДДЕРЖКИ*/
.support_btn{
    position: absolute;
    right:60px;
    top: 30px;
    border-radius: 30px;
    color: azure;
    font-family: "Comic Sans MS";
    font-size: medium;
    background-color: cadetblue;
    border: 3px solid darkgreen;
    border-left: 1px solid darkgreen;
    border-top: 1px solid darkgreen;
}
.support_btn:hover{
    background-color: darkcyan;
    color: red;
    padding: 0 5px;
}
.send_btn{
    text-align: center;
    margin: 15px;
    margin-left: 90px;
    border-radius: 30px;
    color: azure;
    font-family: "Comic Sans MS";
    font-size: medium;
    background-color: cadetblue;
    border: 3px solid darkgreen;
    border-left: 1px solid darkgreen;
    border-top: 1px solid darkgreen;
}
.send_btn:hover{
    background-color: darkcyan;
    color: red;
    padding: 0 5px;
}
.ff{
    margin: auto;
    margin-top: 25px;
    display: block;
}
.mid_cont{
    display: flex;
}
.user_feedback{
    background-color: darkcyan;
    padding: 25px;
    margin: 30px;
    margin-right: 50px;
    width: 225px;
    height: 436px;
    border: 2px solid whitesmoke;
}
.user_field{
    text-align: right;
    padding-right: 25px;
    width: 200px;
    border: 2px solid darkgreen;
    margin: 1px;
    background-color: cadetblue;
    color: whitesmoke;
    font-family: "Times New Roman";
    font-size: medium;
}
#user_problem{
    text-align: right;
    padding-right: 25px;
    width: 200px;
    border: 2px solid darkgreen;
    margin: 1px;
    background-color: cadetblue;
    color: whitesmoke;
    height: 250px;
    font-family: "Times New Roman";
    font-size: medium;
}
.bottom_news_block{
    width: 275px;
    height: 275px;
    border: 1px solid darkgreen;
    padding: 10px;
    background-color: darkcyan;
    margin: 25px;
}
.bottom_news_block:hover{
    background-color: cadetblue;
}